In [19]:
import pandas as pd
import numpy as np
import os 
import re
import xml.etree.ElementTree as ET
from scipy import stats

os.getcwd()

'/mnt/d/Descargas/Python/Modulo 2/Proyecto_2/project-da-promo-A-module-2-team-1-'

In [2]:
# Esta es nuestra función para leer el archivo 
def reader():
    #si existe la carpeta de input, entra ahí
    if './input' in os.listdir():
        os.chdir()
    for file in os.listdir(list_dir):
        if file.endswith('.csv'): 
            df = pd.read_csv(file) 
            print(df.head(5)) 
        elif file.endswith('.txt'):
            df = pd.read_csv(file, sep = ';') 
            print(df.head(5))
        elif file.endswith('.json'):
            df = pd.read_json(file)
            print(df.head(5))
        elif file.endswith('.xml'):
            df = pd.read_xml(file) 
            print(df.head(5)) 
        elif file.endswith('.xls'): 
            df = pd.read_excel(file) 
            print(df.head(5)) 
        elif file.endswith('.xlsx'): 
            df = pd.read_excel(file) 
            print(df.head(5))
        else: 
            print("File format not supported")
        
    return df


list_dir = os.listdir()

In [3]:
reader(list_dir)

TypeError: reader() takes 0 positional arguments but 1 was given

['.DS_Store',
 'input',
 'prueba.csv',
 'Prueba_funcion_leer_archivos.ipynb',
 'README.md',
 'prueba2.ipynb',
 'survey_answer_choices.pdf',
 '.git',
 'prueba']

In [ ]:
# Esta es nuestra función que guarda en .csv
df = reader(file)

def save(df):
    for file in range(len(os.listdir())): #hay que cambiarlo; dos argumentos
        if df_csv not in os.listdir():
            df_csv = df.to_csv('prueba.csv')                                                          
        else:
            i = 1
            df_csv = df.to_csv('prueba', i, '.csv')
            i = i + 1   
    print('El archivo ha sido creado con el nombre:', df_csv)


save('prueba.csv')

**Lo nuevo usado para la fusión de DataFrame**

In [13]:
df_txt = pd.read_csv("data_txt_clean.txt", sep = ';') 
df_csv = pd.read_csv("data.csv")
df_xml = open('data_xml_clean.xml', 'r').read()
root = ET.XML(df_xml)  # Parse XML

data = []
cols = []
for i, child in enumerate(root):
    data.append([subchild.text for subchild in child])
    cols.append(child.tag)

df_xml = pd.DataFrame(data)

In [5]:
b = ("Las columnas son: ", df_txt.columns)
print(b)
a = ("Las columnas son: ", df_csv.columns)
print(a)
c= ("Las columnas son: ", df_xml.columns)
print(c)

('Las columnas son: ', Index(['index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9',
       'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object'))
('Las columnas son: ', Index(['index', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4',
       'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9',
       'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13',
       'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object'))
('Las columnas son: ', RangeIndex(start=0, stop=5, step=1))

In [ ]:

df_csv.head(3)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#del df_xml[0]
df_xml.rename(columns={1:'index', 2:'registro', 3:'edad', 4:'sexo'},inplace=True)
#df_xml =df_xml.set_index("index")
#df_xml = df_xml.drop([0], axis=1)
df_xml= df_xml.reset_index("index")

df_xml.head()

  index registro   edad sexo
0     0      910  50-54  Man
1     1      784  50-54  Man
2     2      924  22-24  Man
3     3      575  45-49  Man
4     4      781  45-49  Man

In [28]:

df_xml["index"] = df_xml["index"].astype("int64", copy= True, errors= "ignore")
df_xml.dtypes

index        int64
registro    object
edad        object
sexo        object
dtype: object

In [ ]:
df_txt.head(3)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None

In [ ]:
def propiedades (df):
    a = ("El número de filas y columnas es: ", df.shape) 
    b = ("Las columnas son: ", df.columns)
    c = ("El tipo de datos es: ", df.dtypes)
    d = ("Cantidad de nulos: ",df.isna().sum()) 
    e = ("Descripción general: ", df.describe(include = "object").T)
    f = ("Las primeras filas son: ", df.head())
    
    print(a, "\n", b, "\n", c, "\n", d, "\n", e,  "\n", f,)
    
propiedades(df_txt)

In [29]:
df_juntos = df_txt.merge(df_csv, how='inner', on='index')
df_juntitos = df_juntos.merge(df_xml, how='inner', on='index')
df_juntos.dtypes

index           int64
Q3             object
Q4             object
Q5             object
Q6             object
Q8             object
Q11            object
Q13            object
Q15            object
Q20            object
Q21            object
Q22            object
Q23            object
Q25            object
Q26            object
Q33            object
Q35            object
Q41            object
Q7             object
Q9             object
Q12            object
Q14            object
Q16            object
Q17            object
Q24            object
Q32            object
Q34            object
Q10_Part_1     object
Q10_Part_2     object
Q10_Part_3     object
Q10_Part_4     object
Q10_Part_5     object
Q10_Part_6     object
Q10_Part_7     object
Q10_Part_8     object
Q10_Part_9     object
Q10_Part_10    object
Q10_Part_11    object
Q10_Part_12    object
Q10_Part_13    object
Q10_Part_14    object
Q10_Part_15    object
Q10_Part_16    object
Q10_OTHER      object
dtype: object

In [ ]:
df_juntos.shape

(25973, 44)

In [ ]:
df_juntitos.to_csv("csv_junto_sucio.csv")