In [4]:
import pandas as pd
import xml.etree.ElementTree as ET

In [53]:
df_xml = open('data_xml_clean.xml', 'r').read()
root = ET.XML(df_xml)  # Parse XML

data = []
cols = []
for i, child in enumerate(root):
    data.append([subchild.text for subchild in child])
    cols.append(child.tag)

df_xml = pd.DataFrame(data)
df_xml


df_xml = df_xml.drop([0,1], axis=1)
df_xml

          2      3    4
0       910  50-54  Man
1       784  50-54  Man
2       924  22-24  Man
3       575  45-49  Man
4       781  45-49  Man
...     ...    ...  ...
25968  1756  30-34  Man
25969   253  22-24  Man
25970   494  50-54  Man
25971   277  45-49  Man
25972   255  18-21  Man

[25973 rows x 3 columns]